[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
gitpython = "*"
pandas = "*"
altair = "*"
tld = "*"
twarc = "*"
beautifulsoup4 = "*"
requests-html = "*"
adblockparser = "*"
jupyterlab = "*"
nest-asyncio = "*"
warcio = "*"
boto3 = "*"
